h1{color: blue;background-color: aqua;
text-align: center;
border-radius: 0%;
}
h4{color: blue ;text-align: right;}
img{
    width: 10%;
    
}
h3{
    color: blue;
    

}
body{
    background-color: aquamarine;
    font-family: 'Quicksand', sans-serif;
}